<div class="line-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="row" id="title-text">
                    <div class="col-xs-6">
                        <p>
                            <strong>Clásica</strong> ***5259
                            <span class="icon-circle-down pull-xs-right"></span>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p>
                            <strong>$15,000.00</strong>
                            <span class="icon-arrow-right2 pull-xs-right hidden-lg-up"></span>
                            <br>
                            <small>Total disponible</small>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <div class="arrow" @moduleState="state" (click)="toggleState()"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row hidden-md-down" id="services-ico">
                    <div class="col-xs-3">
                        <div class="icon-services">
                            <div class="icon-credit-card"></div>
                            <p>
                                Pagar tarjeta
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-services">
                            <div class="icon-briefcase"></div>
                            <p>
                                Pagar servicio
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-services">
                            <div class="icon-loop"></div>
                            <p>
                                Transferencia
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="icon-services">
                            <div class="icon-mobile"></div>
                            <p>
                                Tiempo aire
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<transactions></transactions>

<detail></detail>
