div.line-dark {
    height: 54px;
    width: 100%;
    background-color: #3f454f;
    margin-top: -25px;
    position: absolute;
    left: 0;
}
.line-dark p {
    color: rgba(255,255,255,.9);
}
#title-text > div {
    height: 54px;
    padding-top: 12px;
}
#title-text div:first-child {
    background-color: #61666f;
}
#title-text p {
    margin: 0;
    padding: 0;
    line-height: normal;
}
.icon-circle-down, .icon-arrow-right2 {
    cursor: pointer;
}
/*.icon-circle-down:hover, .icon-circle-down:active,
.icon-arrow-right2:hover, .icon-arrow-right2:active {
    color: rgba(255,255,255,.75);
    font-size: 1.1em;
}*/
#services-ico > div  {
    padding: 0;
}
#services-ico > div:hover {
    background-color: #61666f;
}
div.icon-services {
    width: 100%;
    height: 54px;
}
div.icon-services > div {
    cursor: pointer;
    font-size: 1.2em;
    color: rgba(255,255,255,.75);
    height: 25px;
    width: 20px;
    margin: 0 auto;
    padding-top: 10px;
}
div.icon-services > p{
    cursor: pointer;
    color: rgba(255,255,255,.75);
    padding-top: 4px;
    font-size: .7em;
    text-align: center;
}

/*arrow*/
/*div.arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: 8px solid #3f454f;
    border-bottom: 8px solid #3f454f;
    border-left: 10px solid rgba(255,255,255,.75);
}*/
