<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <div class="img1_opt"></div>
            <div class="img2_opt"></div>
            <div class="img3_opt"></div>
            <div class="img4_opt"></div>
            <div class="img5_opt"></div>
            <div class="img6_opt"></div>
            <div class="img7_opt"></div>
            <div class="img8_opt"></div>
            <div class="img9_opt"></div>
            <div class="img10_opt"></div>
        </div>
    </div>
</div>
