<div class="row" id="detailtransaction">
    <div class="col-xs-12">
        <div class="title">
            <p class="pull-xs-left">
                Detalle de transacción
            </p>
            <a href="#" class="pull-xs-right btn btn-info btn-sm">Cerrar</a>
        </div>
        <ul>
            <div class="divider-detail"></div>
            <div class="more">
                <p>Lunes, 09 de Agosto de 2016, 14:35 pm</p>
                <p>Starbucks</p>
                <p>$300.00</p>
            </div>
            <div class="divider-detail"></div>
            <li class="function">
                <div>Aplicada</div>
                <div><a href="#"><span class="icon-file-text2"></span>&nbsp;Solicitar aclaración</a></div>
            </li>
            <div class="divider-detail"></div>
            <li>
                <div>Cuenta retiro:</div>
                <div>Clásica ***5259</div>
            </li>
            <li>
                <div>Gasto:</div>
                <div class="text-danger">-$300.00</div>
            </li>
            <li>
                <div>Total:</div>
                <div>$300.00</div>
            </li>
            <div class="divider-detail"></div>
            <p>Concepto:</p>
            <p>Café y snacks para la familia</p>
            <div class="maps"></div>
        </ul>
    </div>
</div>
