.modal-footer {
    border: none;
}
.modal-footer div {
    width: -moz-calc(100% - 95px);
    width: -webkit-calc(100% - 95px);
    width: -o-calc(100% - 95px);
    width: calc(100% - 95px);
    padding-top: 8px;
}
p {
    text-align: justify;
    font-size: .8em;
}
.modal-dialog {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 1);
    box-shadow: 0px 1px 2px 0px rgba(150, 150, 150, 1);
}
.modal-content {
    border: none;
}
.modal {
    background-color: rgba(255, 255, 255, .8) !important;
}
div.logo-abanking {
    background: url("app/assets/images/logos/abanking-white-logo.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 30px;
    width: 120px;
    margin: 0px 20px 0px 0px;
    float: left;
}
div.modal-header {
    background-color: #00b1d2;
    border-bottom: 5px solid #3f454f;
}
.modal-header div:last-child {
    height: 30px;
    width: auto;
    float: left;
    padding-top: 6px;
    color: #FFFFFF;
    font-size: 1em;
}
button.close {
    color: #FFFFFF;
}
@media (max-width: 33.9em) {
    div.logo-abanking {
        margin: 0px 5px 0px 0px;
    }
    .modal-header div:last-child {
        padding-top: 8px;
        font-size: .85em;
    }
    .modal-footer div {
        padding: 0px 10px 0px 0px;
    }
}
@media (max-width: 41em) and (min-width: 34em) {
    .modal-dialog {
        width: 90%;
    }
}
@media (min-width: 41em) {
    .modal-dialog {
        width: 600px;
    }
}
