<!-- Unblock -->
<div class="card-block" id="unblock">
    <div class="logo-login"></div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="card-title">Cambio de contraseña / imagen</h5>
            <p>
                <small>
                    Es necesario que ingreses tu <strong>usuario</strong> y el <strong>número de folio</strong> que se te entregó vía telefónica.
                </small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <input type="text" class="form-control" placeholder="Usuario">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <input type="password" class="form-control" placeholder="Número de fólio">
        </div>
    </div>
    <div class="row">
        <div class="space col-md-4 offset-md-2 col-xl-3 offset-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/auth']" class="btn btn-danger btn-block">Cancelar</a>
        </div>
        <div class="space col-md-4 col-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/auth/unlockpwd']" class="btn btn-info btn-block">Continuar</a>
        </div>
    </div>
</div>
