<div class="dark-line">
    <div class="line-head"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            <div class="card text-xs-center shadow">
                <router-outlet></router-outlet>
                <div class="card-footer">
                    <p>
                        <small class="text-muted">Comunícate con nosotros al 01 800 800 32 24</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>
