.container{
    padding-top: 25px;
    padding-bottom: 50px;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -35px;
}
@media (max-width: 37em) {
    .container{
        margin: 0 auto -75px;
        padding-bottom: 90px;
    }
}
