<div class="row">
    <!-- Credit card -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card cards">
            <div class="card-block">
                <p><strong>Gold&nbsp;</strong><span class="text-muted">***5296</span></p>
            </div>
            <div class="cont-img">
                <img src="app/assets/images/cards/cuenta_debit_card.png" alt="">
            </div>
            <div class="card-block">
                <p class="corte">Fecha de corte: 24 de Oct del 2016</p>
            </div>
            <form>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <input type="radio" id="r1" name="pago" value="option1" checked>
                        <label for="r1"><span></span>Pago total</label>
                        <label>$9,000.00</label>
                    </li>
                    <li class="list-group-item">
                        <input type="radio" id="r2" name="pago" value="option2">
                        <label for="r2"><span></span>Pago mínimo</label>
                        <label>$1,000.00</label>
                    </li>
                    <li class="list-group-item">
                        <input type="radio" id="r3" name="pago" value="option3">
                        <label for="r3"><span></span>Pago sin intereses</label>
                        <label>$5,000.00</label>
                    </li>
                    <li class="list-group-item">
                        <input type="radio" id="r4" name="pago" value="option4">
                        <label for="r4"><span></span>Otra cantidad</label>
                        <label><input class="form-control form-control-sm" type="text"></label>
                    </li>
                </ul>
                <div class="card-block footbtn">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="card-link">Movimientos</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" class="pull-xs-right btn btn-info btn-sm">Pagar tarjeta</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Debit card -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card cards">
            <div class="card-block">
                <p><strong>Clásica&nbsp;</strong><span class="text-muted">***5259</span></p>
            </div>
            <div class="cont-img">
                <img src="app/assets/images/cards/cuenta_checks_card.png" alt="">
            </div>
            <div class="card-block">
                <p class="corte">Desde: 11 de Mar del 2016</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p></p>
                    <label><strong>Disponible</strong></label>
                    <label><strong>$15,000.00</strong></label>
                </li>
                <li class="list-group-item">
                    <p></p>
                    <label>Depósitos</label>
                    <label>$15,000.00</label>
                </li>
                <li class="list-group-item">
                    <p></p>
                    <label>Pagos</label>
                    <label>$730.00</label>
                </li>
                <li class="list-group-item">
                    <p></p>
                    <label>Retiros</label>
                    <label>$1,500.00</label>
                </li>
            </ul>
            <div class="card-block footbtn">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="card-link"><p class="text-xs-center">Ver más</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New card -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card credit" id="black">
            <div class="cont-img card-img-top">
                <img src="app/assets/images/cards/cuenta_credit_card.png" alt="">
            </div>
            <div class="card-block text-xs-center">
                <p><strong>aBanking Black</strong></p>
                <p>¡Te habre las puertas!<p>
                <p>Tasa de interés del 9.95% anual fija</p>
            </div>
            <div class="card-block footbtn">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="btn-block btn btn-sm">SOLICÍTALA YA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cellphone minutes -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card cards" id="minutes">
            <div class="card-block">
                <p><strong>Tiempo aire</strong></p>
            </div>
            <div class="cont-img">
                <div class="logo-login"></div>
            </div>
            <div class="card-block">
                <p class="corte">Número: 55 56271838</p>
            </div>
            <div class="card-block">
                <div class="circle-time"></div>
            </div>
            <div class="card-block footbtn">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="card-link"><p class="text-xs-center">Ver más</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>

<publicitybar></publicitybar>
<!-- <publicity></publicity> -->
