<!-- Images -->
<div class="card-block" id="images">
    <div class="logo-login"></div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="card-title">
                Bienvenido <br>
                <small>Sergio Xavier Consuelo Ortiz</small>
            </h5>
            <p>
                <small>
                    <span>Nivel&nbsp;de&nbsp;seguridad&nbsp;adicional. </span>
                    Selecciona&nbsp;la&nbsp;imagen que elegiste al registrarte.
                </small>
            </p>
        </div>
    </div>
    <imageslogin></imageslogin>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <input type="password" class="form-control" placeholder="Contraseña">
        </div>
    </div>
    <div class="row">
        <div class="space col-md-4 offset-md-2 col-xl-3 offset-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/auth']" class="btn btn-danger btn-block">Cancelar</a>
        </div>
        <div class="space col-md-4 col-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/home']" class="btn btn-info btn-block">Continuar</a>
        </div>
    </div>
</div>
