<br>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
        <div class="card text-xs-center shadow">

            <!-- Unblock -->
            <div class="card-block" id="unblock">
                <div class="logo-login"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5 class="card-title">Cambio de contraseña / imagen</h5>
                        <p>
                            <small>
                                Es necesario que ingreses tu <strong>usuario</strong> y el <strong>número de folio</strong> que se te entregó vía telefónica.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
                        <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
                        <input type="password" class="form-control" placeholder="Número de fólio">
                    </div>
                </div>
                <div class="row">
                    <div class="space col-md-4 col-md-offset-2 col-xl-3 col-xl-offset-3">
                        <a href="#" class="btn btn-danger btn-block">Cancelar</a>
                    </div>
                    <div class="space col-md-4 col-xl-3">
                        <a href="#" class="btn btn-primary btn-block">Continuar</a>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <p>
                    <small class="text-muted">Comunícate con nosotros al 01 800 800 32 24</small>
                </p>
            </div>

        </div>
    </div>
</div>
<br><br>
