.container{
    padding-top: 15px;
    padding-bottom: 40px;
    min-height: -moz-calc(100% - 74px);
    min-height: -webkit-calc(100% - 74px);
    min-height: -o-calc(100% - 74px);
    min-height: calc(100% - 74px);
    height: auto !important;
    height: 100%;
    margin: 0 auto -35px;
}
@media (max-width: 33.9em) {
    .container{
        /*padding-bottom: 100px;*/
        min-height: -moz-calc(100% - 54px);
        min-height: -webkit-calc(100% - 54px);
        min-height: -o-calc(100% - 54px);
        min-height: calc(100% - 54px);
    }
}
