<div class="row" id="cardpayment">
    <div class="col-xs-12">
        <div class="title">
            <p class="pull-xs-left">
                Pagar Tarjeta
            </p>
            <a href="#" class="pull-xs-right btn btn-secondary btn-sm">Cerrar</a>
            <a href="#" class="pull-xs-right btn btn-secondary btn-sm">Nueva tarjeta</a>
        </div>
        <ul>
            <div class="divider-detail"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group icon-form">
                        <div class="icon-circle-down right"></div>
                        <input class="form-control" type="text" placeholder="Cuenta retiro">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group icon-form">
                        <div class="icon-search right"></div>
                        <input class="form-control" type="text" placeholder="Cuenta depósito">
                    </div>
                </div>
            </div>

            <div class="divider-detail"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group icon-form">
                        <div class="icon-coin-dollar"></div>
                        <input class="form-control" type="text" placeholder="Importe">
                    </div>
                </div>
            </div>

            <div class="divider-detail"></div>

            <div class="row">
                <div class="col-xs-5">
                    <p>
                        Fecha de pago
                    </p>
                </div>
                <div class="col-xs-7">
                    <div class="form-group icon-form">
                        <div class="icon-calendar right"></div>
                        <!-- in process -->
                        <input class="form-control" type="text" id="datepicker">
                    </div>
                </div>
            </div>

            <div class="divider-detail"></div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group icon-form">
                        <div class="icon-envelop right"></div>
                        <textarea name="name" rows="3" class="form-control" placeholder="Concepto (opcional)"></textarea>
                    </div>
                </div>
            </div>

            <div class="divider-detail"></div>

            <div class="row">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-danger btn-block">Cancelar</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-success btn-block">Continuar</button>
                </div>
            </div>
        </ul>
    </div>
</div>
