<!-- Images -->
<div class="card-block" id="unblockpwd">
    <div class="logo-login"></div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="card-title">
                Nueva imagen de seguridad
            </h5>
            <p>
                <small><span>
                    Selecciona una nueva imagen de seguridad
                </span></small>
            </p>
        </div>
    </div>
    <imageslogin></imageslogin>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h5 class="card-title">
                Nueva contrase&ntilde;a
            </h5>
            <p>
                <small>
                    Es necesario crear una nueva contrase&ntilde;a la cual debe tener de <strong>8 a 15 caracteres</strong>, contar con al menos <strong>una may&uacute;scula</strong>, con <strong>una min&uacute;scula</strong> y <strong>un n&uacute;mero</strong>.
                </small>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <input type="password" class="form-control" placeholder="Nueva contraseña">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <input type="password" class="form-control" placeholder="Confirmar contraseña">
        </div>
    </div>
    <div class="row">
        <div class="space col-md-4 offset-md-2 col-xl-3 offset-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/auth/unlock']" class="btn btn-danger btn-block">Cancelar</a>
        </div>
        <div class="space col-md-4 col-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/auth']" class="btn btn-info btn-block">Continuar</a>
        </div>
    </div>
</div>
