<div class="row" id="detail">
    <div class="col-xs-12">
        <div class="title">
            <p>
                Detalle de cuenta
            </p>
        </div>
        <div class="divider-detail"></div>
        <ul>
            <li>
                <div>Saldo:</div>
                <div>$1,000.00</div>
            </li>
            <li>
                <div>Línea de sobregiro:</div>
                <div>$300.00</div>
            </li>
            <li>
                <div>Depósitos pendientes:</div>
                <div>$100.00</div>
            </li>
            <li>
                <div>Depósitos salvo buen cobro:</div>
                <div>$50.00</div>
            </li>
            <div class="divider-detail"></div>
            <p>
                Resumen del 10 de Julio del 2014 al 9 de Agosto del 2014
            </p>
            <li>
                <div>Saldo anterior:</div>
                <div>$0.00</div>
            </li>
            <li>
                <div>(+) 8 Depósitos:</div>
                <div>$100.00</div>
            </li>
            <li>
                <div>(-)&nbsp; 0 Retiros:</div>
                <div>0.00</div>
            </li>
            <div class="divider-detail"></div>
            <p>
                Resumen al 10 de Agosto del 2014
            </p>
            <li>
                <div>Día de corte:</div>
                <div>31</div>
            </li>
            <li>
                <div>Línea de crédito:</div>
                <div>$0.00</div>
            </li>
            <li>
                <div>Saldo en línea de crédito:</div>
                <div>$0.00</div>
            </li>
            <li>
                <div>Línea de crédito disponible:</div>
                <div>$0.00</div>
            </li>
        </ul>
    </div>
</div>
