<div>
    <div class="top hidden-xs-down">
        <div class="container">
            <p>Lunes 18 de Julio del 2016 | Último acceso: 13/07/16 a las 23:34:54</p>
        </div>
    </div>
    <nav class="navbar navbar-full navbar-dark" id="navAcoord">
        <div class="container panel">

            <div class="navbar-brand logo-abanking hidden-sm-down"></div>
            <button class="navbar-toggler collapsed hidden-md-up"                       type="button" data-toggle="collapse" data-parent="#navAcoord" href="#collapsemenu" aria-expanded="false" aria-controls="collapsemenu">&#9776;</button>
            <button class="navbar-toggler collapsed hidden-md-up pull-xs-right p-x-1"   type="button" data-toggle="collapse" data-parent="#navAcoord" href="#collapseconf" aria-expanded="false" aria-controls="collapseconf"><span class="icon-cog"></span></button>
            <button class="navbar-toggler collapsed hidden-md-up pull-xs-right"         type="button" data-toggle="collapse" data-parent="#navAcoord" href="#collapsecont" aria-expanded="false" aria-controls="collapsecont"><span class="icon-question"></span></button>

            <div class="collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link active">Cuentas</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/home/investments']" class="nav-link">Inversiones</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/home/taxes']" class="nav-link">Impuestos</a>
                    </li>
                    <li class="nav-item pull-md-right">
                        <div class="dropdown">
                            <a class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sergio Consuelo Ortiz
                            </a>
                            <span class="icon-question"></span>
                            <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">Ajustes</a>
                                <a class="dropdown-item" href="#">Tour</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" [routerLink]="['/auth']">Cerrar sesión</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="collapsemenu" class="panel-collapse collapse hidden-md-up">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Cuentas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Inversiones</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Impuestos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Cerrar sesión</a>
                    </li>
                </ul>
            </div>

            <div id="collapseconf" class="panel-collapse collapse hidden-md-up">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Ajustes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Tour</a>
                    </li>
                </ul>
            </div>

            <div id="collapsecont" class="panel-collapse collapse hidden-md-up">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Email</a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">Móvil</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
