<div class="top hidden-xs-down">
    <div class="container">
        <p>Lunes 18 de Julio del 2016 | Último acceso: 13/07/16 a las 23:34:54</p>
    </div>
</div>
<nav class="navbar navbar-full navbar-dark" id="navAcoord">
    <div class="container panel">

        <div class="navbar-brand logo-abanking hidden-sm-down"></div>
        <button class="navbar-toggler collapsed hidden-md-up"                       type="button" data-toggle="collapse" data-parent="#navAcoord" href="#collapsemenu" aria-expanded="false" aria-controls="collapsemenu">&#9776;</button>
        <button class="navbar-toggler collapsed hidden-md-up pull-xs-right p-x-1"   type="button" data-toggle="collapse" data-parent="#navAcoord" href="#collapsecont" aria-expanded="false" aria-controls="collapsecont"><span class="icon-question"></span></button>
        <button class="navbar-toggler collapsed hidden-md-up pull-xs-right"         type="button" data-toggle="collapse" data-parent="#navAcoord" href="#collapseconf" aria-expanded="false" aria-controls="collapseconf"><span class="icon-cog"></span></button>

        <div class="collapse navbar-toggleable-sm">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link active">Cuentas</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/home/investments']" class="nav-link">Inversiones</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/home/taxes']" class="nav-link">Impuestos</a>
                </li>
                <li class="nav-item pull-md-right">
                    <div class="nav-link">
                        <span>Sergio Consuelo Ortiz</span>
                        <span>
                            <div class="dropdown">
                                <span class="navbar-toggler icon-cog" id="config1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                                <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="config1" id="globo1">
                                    <p>Preferencias</p>
                                    <p>Configura tus alertas o has un tour por el sistema.</p>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="#"><div class="circle"><div class="icon-wrench"></div><p>Ajustes</p></div></a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#"><div class="circle"><div class="icon-binoculars"></div><p>Tour</p></div></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a [routerLink]="['/auth']" class="btn btn-info btn-sm btn-block">Cerrar sesión</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <span>
                            <div class="dropdown">
                                <span class="navbar-toggler icon-question" id="contact1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                                <div class="dropdown-menu dropdown-menu-right shadow" aria-labelledby="contact1" id="globo2">
                                    <p>Estamos en contacto</p>
                                    <p>Nuestros asesores están disponibles para asesorarte.</p>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="#"><div class="circle"><div class="icon-bubbles3"></div><p>Chat</p></div></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="#"><div class="circle"><div class="icon-envelop"></div><p>Email</p></div></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="#"><div class="circle"><div class="icon-mobile2"></div><p>Móvil</p></div></a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group icon-form">
                                                <div class="icon-search icon-sm"></div>
                                                <input class="form-control form-control-sm" type="text" placeholder="¿Qué deseas hacer?">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div id="collapsemenu" class="panel-collapse collapse hidden-md-up">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link active">Cuentas</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/home/investments']" class="nav-link">Inversiones</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/home/taxes']" class="nav-link">Impuestos</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/auth']" class="nav-link">Cerrar sesión</a>
                </li>
            </ul>
        </div>

        <div id="collapseconf" class="panel-collapse collapse hidden-md-up">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Ajustes</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Tour</a>
                </li>
            </ul>
        </div>

        <div id="collapsecont" class="panel-collapse collapse hidden-md-up">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Chat</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Email</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">Móvil</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
