<div class="line-dark"></div>
<div class="menu-dark">
    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="row" id="title-text">
                <div class="col-xs-6">
                    <p>
                        <strong>Clásica</strong> ***5259
                        <a href="javascript:void(0);" class="icon-circle-down pull-xs-right"></a>
                    </p>
                </div>
                <div class="col-xs-6">
                    <p>
                        <strong>$15,000.00</strong><br>
                        <small>Total disponible</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="hidden-md-down col-lg-4">
            <div class="row" id="services-ico">
                <div class="col-xs-3">
                    <div class="icon-services">
                        <a href="javascript:void(0);">
                            <div class="icon-credit-card"></div>
                            <p>
                                Pagar tarjeta
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="icon-services">
                        <a href="javascript:void(0);">
                            <div class="icon-briefcase"></div>
                            <p>
                                Pagar servicio
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="icon-services">
                        <a href="javascript:void(0);">
                            <div class="icon-loop"></div>
                            <p>
                                Transferencia
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="icon-services">
                        <a href="javascript:void(0);">
                            <div class="icon-mobile"></div>
                            <p>
                                Tiempo aire
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-8">
        <transactions></transactions>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="back-detail"></div>
        <!-- <detail></detail> -->
        <!-- <detailtransaction></detailtransaction> -->
        <!-- <cardpayment></cardpayment> -->
        <!-- <servicepayment></servicepayment> -->
        <!-- <transfers></transfers> -->
        <cellphone></cellphone>
    </div>
</div>
