.row {
    padding-top: 8px;
}
.card-block {
    margin: 0;
    padding: 0;
}
a {
    position: absolute;
    margin-top: -40px;
    margin-left: 10px;
}
.btn-secondary {
    background-color: #1b1b1b;
}
.btn-secondary:hover {
    background-color: #000000;
}
