<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
        <div class="card text-xs-center shadow">

            <!-- Login -->
            <div class="card-block" id="login">
                <div class="logo-login"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5 class="card-title">Iniciar sesión</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
                        <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
                        <a href="javascript:void(0);" [routerLink]="['Image']" class="btn btn-info btn-block">Continuar</a>
                    </div>
                </div>
                <br>
                <div class="divider"></div>
                <small>
                    <a href="javascript:void(0);" [routerLink]="['Unlock']">Desbloquear&nbsp;usuario / Olvidé&nbsp;mi&nbsp;contraseña</a>
                </small>
            </div>

            <div class="card-footer">
                <p>
                    <small class="text-muted">Comunícate con nosotros al 01 800 800 32 24</small>
                </p>
            </div>

        </div>
    </div>
</div>

<br>

<div class="container-logs">
    <div class="google" onClick="window.open('https://play.google.com/store/', '_blank')"></div>
    <div class="apple" onClick="window.open('https://itunes.apple.com/mx/', '_blank')"></div>
</div>
