<!-- Login -->
<div class="card-block" id="login">
    <div class="logo-login"></div>
    <div class="row">
        <div class="col-xs-12">
            <h5 class="card-title">Iniciar sesión</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <input type="text" class="form-control" placeholder="Usuario">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <a href="javascript:void(0);" [routerLink]="['/auth/image']" class="btn btn-info btn-block">Continuar</a>
        </div>
    </div>
    <br>
    <div class="divider"></div>
    <small>
        <a href="javascript:void(0);" [routerLink]="['/auth/unlock']">Desbloquear&nbsp;usuario / Olvidé&nbsp;mi&nbsp;contraseña</a>
    </small>
</div>
<!-- <br>

<div class="container-logs">
    <div class="google" onClick="window.open('https://play.google.com/store/', '_blank')"></div>
    <div class="apple" onClick="window.open('https://itunes.apple.com/mx/', '_blank')"></div>
</div> -->
